# mongodb_robo3T

- show dbs : 전체 데이터베이스 열람<br>
- use 'DB이름' : 데이터베이스 선택(없으면 데이터베이스 생성)<br>
- show collections : 선택된 데이터베이스의 콜렉션 열람
- db.'collection이름'.함수()로 해당 컬렉션의 데이터 열람 및 조작
    - db.createCollection("collection이름") : collection 생성
        - db.createCollection("collection이름",{capped:true,size:10000})
            -capped:true : 최초 제한된 크기로 생성된 공간에서만 데이터를 저장하는 설정<br>(고성능, 저장공간차면 기존 공간 재사용, 일정시간만 저장하는 로그에 적합)
    - db.'기존이름'.renameCollection('새로운이름') : 이름변경
    - db.'collection이름'.drop() : 삭제

## &#60;mongodb 데이터 입력/검색/수정/삭제 (CRUD)&#62;

### **- Document 입력 : insertOne, insertMany**
- db.'이름'.insertOne() : 한개의 document 생성
    - 예) db.people.insertOne({name:"이름", age:나이, gender:"성별"})
- db.'이름'.insertMany() : list of document 생성
    - 예)
        <pre>
        db.people.insertOne(
            [
                {name:"이름", age:나이, gender:"성별"},
                {name:"이름", age:나이, gender:"성별"},
                {name:"이름", age:나이, gender:"성별"}
            ]
        )
        </pre>

### **- Document 읽기 : findOne, find**
- db.'이름'.findOne() : 매칭되는 한개의 document 검색 (첫번째 저장된 document 검색)
- db.'이름'.find() : 매칭되는 list of document 검색<br>

예시)<br>
A) employees Collection 에서 user_id 가 bcd002 인 Document의 user_id, age, status, _id 출력<br>
B) employees Collection 에서 user_id 가 bcd003 인 Document의 user_id, age, status 출력<br>
C) employees Collection 에서 user_id 가 bcd004 이거나, age가 28인 Document 의 모든 필드 출력<br>

---  
<pre>
A) db.employees.find({user_id:"bcd002"},{user_id:1,age:1,status:1,_id:1)
    = db.employees.find({user_id:"bcd002"})
B) db.employees.find({user_id:"bcd003"},{user_id:1,age:1,status:1,_id:0})
C) db.employees.find({$or:[{user_id:"bcd004"},{age:28}]})
</pre>

|비교 문법| 수학적 기호 | 의미 |
|:---|:---:|:---|
| &#36;eq | = | 같다 |    
| &#36;gt | > | 초과 |    
| &#36;gte | >= | 이상 |   
| &#36;in | . | 키의 값이 ㅁㅁㅁ인 경우 |          
| &#36;lt | < | 미만 |    
| &#36;lte | <= | 이하 |   
| &#36;ne | != | . |   
| &#36;nin | . | 키의 값이 ㅁㅁㅁ가 아닌 경우 |

예시)<br>
A) age 가 20 보다 큰 Document 의 user_id 만 출력하기<br>
B) age 가 50 이고 status 가 A 인 Document 의 user_id 만 출력하기<br>
C) age 가 60 보다 작은 Document 의 user_id 와 age 출력하기<br>
D) user_id 종류 출력하기<br>
E) user_id 가 bcd 로 시작하는 전체 Document 출력하기

---
<pre>
A) db.employees.find({age: {$gt:20}},{user_id:1,_id:0})
B) db.employees.find({age:{$eq:50},status:"A"},{user_id:1,_id:0})
C) db.employees.find({age:{$lt:60}},{user_id:1,age:1,_id:0})
D) db.employees.distinct("user_id")
E) db.employees.find({user_id:/^bcd/})
</pre>

### **- Document 수정 : updateOne, updateMany**
- 수정 문법
<pre>
db.'이름'.updateMany(                  <- collection
    { age: { $lt: 18} }.                   <- update filter
    { $set: { status: "reject" } }     <- update action
) 
<pre>
- db.'이름'.updateOne() : 매칭되는 한개의 document 수정
- db.'이름'.updateMany() : 매칭되는 list of document 수정
    - &#36;set : field 값 설정
    - &#36;inc : field 값을 증가시키거나, 감소시킴
        - 예 : &#36;inc : { age: 2 } age 값을 본래의 값에서 2 증가 
        - 예 : &#36;inc : { age: -2 } age 값을 본래의 값에서 2 감소
            
예시)<br>
A) age 가 40 보다 큰 Document 의 status 를 B 로 변환하기

---
<pre>
A) db.employees.updateMany(
    {age:{$gt:40}},
    {$set:{status:"B"}}
    )
</pre>

### **- Document 삭제 : removeOne, removeMany**
- 삭제 문법
<pre>
db.'이름'.deleteMany(        <- collection
    { status: "reject" }         <- delete filter
)
</pre>
- db.'이름'.removeOne() : 매칭되는 한개의 document 삭제
- db.'이름'.removeMany() : 매칭되는 list of document 삭제
    
예시)<br>
A) age 가 30 보다 작은 Document 삭제하기

---
<pre>
A) db.employees.deleteMany(
    {age:{$lt:30}}
)
</pre>