SELECT SUM(필드) FROM 테이블;
> 해당 필드의 합계

SELECT MAX(필드) FROM 테이블;
> 해당 필드의 최댓값

SELECT MIN(필드) FROM 테이블;
> 해당 필드의 최솟값

SELECT AVG(필드) FROM 테이블;
> 해당 필드의 평균

SELECT COUNT(*) FROM 테이블;
> 해당 테이블의 전체 row 수

SELECT 필드1,COUNT(*) FROM 테이블 GROUP BY 필드1;
> 해당 테이블에서 그 필드에 따른 row의 수 -> 필드1 row의 갯수 출력

SELECT DISTINCT provider FROM items;
> 해당 테이블에서 특정 테이블값 출력시 중복된 값을 출력하지 않음

SELECT 필드1 FROM 테이블 GROUP BY 필드1 HAVING COUNT(*) >= 100;
> 해당 테이블1에서 필드1에 따라 필드1과 그 필드값1의 row의 갯수가 100개 이상인 것만 출력

SELECT 필드1, COUNT(필드2) FROM 테이블1 GROUP BY 필드1 ORDER BY COUNT(필드2) DESC;
> 해당 테이블1에서 필드1에 따라 필드1과 필드2의 row갯수가 출력되는데 필드2의 row갯수의 내림차순

SELECT 필드1,COUNT(*) FROM 테이블1 WHERE 필드1 != '데이터값22' GROUP BY 필드1 HAVING COUNT(*) >= 100 ORDER BY COUNT(*) DESC;
> 해당 테이블1에서 필드1에 따라 필드1과 전체 row의 갯수가 출력되는데 필드1의 데이터값22을 제외하고 전체 row의 갯수가 100개 이상이며 내림차순

---

SELECT*FROM 테이블1 INNER JOIN 테이블2 ON 테이블2.외부키 = 테이블1.기본키
> 테이블1과 테이블2를 JOIN시켜 두개 테이블의 데이터값을 출력