SELECT SUM(필드) FROM 테이블;
> 해당 필드의 합계

SELECT MAX(필드) FROM 테이블;
> 해당 필드의 최댓값

SELECT MIN(필드) FROM 테이블;
> 해당 필드의 최솟값

SELECT AVG(필드) FROM 테이블;
> 해당 필드의 평균

SELECT COUNT(*) FROM 테이블;
> 해당 테이블의 전체 row 수

SELECT 필드1,COUNT(*) FROM 테이블 GROUP BY 필드1;
> 해당 테이블에서 그 필드에 따른 row의 수 -> 필드1 row의 갯수 출력

SELECT DISTINCT provider FROM items;
> 해당 테이블에서 특정 테이블값 출력시 중복된 값을 출력하지 않음

SELECT 필드1 FROM 테이블 GROUP BY 필드1 HAVING COUNT(*) >= 100;
> 해당 테이블1에서 필드1에 따라 필드1과 그 필드값1의 row의 갯수가 100개 이상인 것만 출력

SELECT 필드1, COUNT(필드2) FROM 테이블1 GROUP BY 필드1 ORDER BY COUNT(필드2) DESC;
> 해당 테이블1에서 필드1에 따라 필드1과 필드2의 row갯수가 출력되는데 필드2의 row갯수의 내림차순

SELECT 필드1,COUNT(*) FROM 테이블1 WHERE 필드1 != '데이터값22' GROUP BY 필드1 HAVING COUNT(*) >= 100 ORDER BY COUNT(*) DESC;
> 해당 테이블1에서 필드1에 따라 필드1과 전체 row의 갯수가 출력되는데 필드1의 데이터값22을 제외하고 전체 row의 갯수가 100개 이상이며 내림차순

---

SELECT*FROM 테이블1 INNER JOIN 테이블2 ON 테이블2.외부키 = 테이블1.기본키  
=SELECT*FROM 테이블1 a INNER JOIN 테이블2 b ON b.외부키 = a.기본키
> 테이블1과 테이블2를 JOIN시켜 두개 테이블의 데이터값을 출력

SELECT items.provider, COUNT(*) FROM ranking<br>
INNER JOIN items ON items.item_code=ranking.item_code<br>
WHERE ranking.main_category = 'ALL'<br>
GROUP BY items.provider;
> 전체 베스트상품(ALL 메인 카테고리)에서 판매자별 베스트상품 갯수 출력해보기

SELECT items.provider,COUNT(*) FROM ranking<br> 
INNER JOIN items ON ranking.item_code=items.item_code<br> 
WHERE ranking.main_category = '패션의류'<br> 
GROUP BY items.provider<br>
HAVING COUNT(*) >=5
> 메인 카테고리가 패션의류인 서브 카테고리 포함, 패션의류 전체 베스트상품에서 판매자별 베스트상품 갯수가 5이상인 판매자와 베스트상품 갯수 출력해보기

SELECT items.provider,COUNT(*) FROM ranking<br>
INNER JOIN items ON items.item_code = ranking.item_code<br>
WHERE ranking.main_category = '신발/잡화'<br>
GROUP BY items.provider<br>
HAVING COUNT(*) >= 10<br>
ORDER BY COUNT(*) DESC
> 메인 카테고리가 신발/잡화인 서브 카테고리 포함, 전체 베스트상품에서 판매자별 베스트상품 갯수가 10이상인 판매자와 베스트상품 갯수를 베스트상품 갯수 순으로 출력해보기

SELECT AVG(dis_price) AS average, MAX(dis_price) AS maximum,<br> 
MIN(dis_price) AS minimum FROM ranking<br>
INNER JOIN items ON ranking.item_code=items.item_code<br>
WHERE main_category = '화장품/헤어'
> 메인 카테고리가 화장품/헤어인 서브 카테고리 포함, 전체 베스트상품의 평균, 최대, 최소 가격 출력해보기

---

SELECT ranking.main_category,COUNT(*) FROM items 
INNER JOIN ranking ON items.item_code=ranking.item_code<br>
WHERE items.dis_price >= 100000<br>
GROUP BY ranking.main_category<br> 
= SELECT main_category,COUNT(*) FROM ranking<br>
WHERE item_code IN (SELECT item_code FROM items WHERE dis_price >= 100000)<br>
GROUP BY main_category
> 메인 카테고리별로 할인 가격이 10만원 이상인 상품이 몇개 있는지를 출력해보기

SELECT ranking.main_category, ranking.sub_category,<br>
AVG(items.dis_price), AVG(items.discount_percent) FROM items<br>
INNER JOIN ranking ON items.item_code=ranking.item_code<br>
GROUP BY ranking.main_category, ranking.sub_category
> 메인 카테고리, 서브 카테고리에 대해, 평균할인가격과 평균할인율을 출력해보기 (다양한 SQL 문법 활용)

판매자별, 베스트상품 갯수, 평균할인가격, 평균할인율을 베스트상품 갯수가 높은 순으로 출력해보기 (다양한 SQL 문법 활용)

각 메인 카테고리에서 베스트 상품 갯수가 20개 이상인 판매자의 판매자별 평균할인가격, 평균할인율, 베스트 상품 갯수 출력해보기 (다양한 SQL 문법 활용)